﻿/********************************************************************************/
.textInput,
.comboBox{
	border: 1px solid #B6A056;
	}
.TextoFecha
{
    background-image: url('../../Images/iconos/calendar.gif');
    background-repeat: no-repeat;
    background-position: right center;
}
.textInputReadOnly 
{
	clear:both;
	border: 1px solid #DACFAA;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #AAA491;
	font-size: 11px;
	padding-left:4px;
	padding-right:4px;
	padding-top:0px;
	padding-bottom:1px;
	margin:1px;
}

.checkBox,
.radioButton,
.Label,
label
{
	/*white-space: nowrap;*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #403B33;
}
/**/
/*.checkBoxList input[type="checkbox"]
{
	clear: both;
}*/
/*INGRESADO POR PENSEMOS SI PARA CORREGIR CHECKBOXLIST*/
.checkBoxList input
{
	height: 10px;
}
.checkBoxList label
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #403B33;
	/*padding-top: 4px;*/
	text-indent: 5px;
	/*float: left;*/
}

/**/
.txt_complemento
{
	float:left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #403B33;
}
.button{
	padding: 0px 5px;
    margin-right: 0.5px;
	    margin-left: 3px;
	    cursor: pointer;
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 11px;
	    color: #333333;
	    font-weight: bold;
	    border: 1px none #FFFFFF;
	background-image: url('../../Images/proyecto/bg_buttons.gif');
	    background-repeat: repeat-x;
	    background-position: 0px 0px;
}
.radioButton input{
	height: 10px;
}
.radioButton label
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #403B33;
	/*padding-top: 4px;*/
	text-indent: 5px;
	/*float: left;*/
}
.comboBox{}

.normal
{
	font-weight: normal;
}


/*grid View*/

.gridView
{
	width:100%;
	border: 1px solid #C3BCB2;

}
.gridView td{
	padding: 0 2px;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.gridView td hr{
	height: 1px;
	width: 99%;
	border-top-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #D2E16A;
}
hr{
	height: 1px;
	width: 99%;
	border-top-width: 1px;
	border-top-style: dotted;
	border-right-style: dotted;
	border-bottom-style: dotted;
	border-left-style: dotted;
	border-top-color: #D2E16A;
}
.gridViewHeader
{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	background-image: url(../../images/bg_header_dt.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height:20px;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #403C33;
	text-align: left;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	font-weight: bold;
}
td.gridViewHeader_LatIzq
{
	background-image: url(../../images/bg_header_dt.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height:20px;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #403C33;
	text-align: left;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #999999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
.rowStyle
{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	padding-top: 2px;
	padding-bottom: 2px;
	/**/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #403C33;
}

.editRowStyle
{
    background-color: #FFCC66;
}

.editRowStyle input
{
    border: 1px solid #B6A056;
    font-size: 10px;
    width: auto;
}

.separador,
.separador td{
	background-color: #FEEB9C;
	height: 5px;
	margin: 0px;
	padding: 0px;
}

.column_acciones input{
	clear: both;
	float: none;
}

.column_acciones,
.column_acciones_ver{
	width:55px;
	text-align:center;
}
td.column_acciones,
td.column_acciones_ver{
	margin: 0px;
	padding: 0px;
}
.column_acciones_ver a{
	background-image: url(../../Images/iconos/btn_ver.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 14px;
	width: 30px;
	padding: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
}
.column_acciones_ver a:hover{
	color: #999999;
	text-decoration: underline;}


.selectedRowStyle
{
    background-color: #FFCC66;
}

.alternatingRowStyle
{
	background-color:#FFFDF4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #403C33;
}
.iconTable
{
	clear:inherit;
	text-align:right;
	width:7%;
}
a.linkButton{
	margin-right: 3px;
	margin-left: 3px;
	cursor: pointer;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	font-weight: bold;
	border: 1px none #FFFFFF;
	height: 22px;
	background-image: url(../../Images/proyecto/bg_buttons.gif);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	padding: 5px;
}

a.linkButton:hover{
	color:#6C6C6C;
	text-decoration: underline;
}


.moveLeftButton{
	background-image: url(../../Images/btn_left.gif);
	height: 19px;
	width: 93px !important;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-repeat: no-repeat;
	background-position: 0px 50%;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.moveRightButton{
	background-image: url(../../Images/btn_right.gif);
	height: 19px;
	width: 93px !important;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}
.buttonBarFila{
	height: 30px;
}

.buttonSalir
{
	background-image: url(../../Images/cerrar_sesion.gif);
	height: 18px;
	width: 95px !important;
	background-repeat: no-repeat;
	/**/
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	/**/
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	text-indent: 1px;
	
	cursor:pointer;
}

.buttonInit{
	background-image: url(../../Images/salir.gif);
	height: 18px;
	width: 134px !important;
	background-repeat: no-repeat;
	/**/
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	/**/
	background-color: transparent;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	text-indent: 1px;
	margin-top: 2px;
	
	cursor:pointer;
}



/*
.gridViewColumnId
{
	background-color:#F1F7EB;
	text-align: center;
	font-weight: bold;
	
}
.gridViewInput{
	text-align: center;

	border: 1px solid #EDEDED;
}
.alternatingRowStyle
{
	background-color:#FBFDF9;

}

.pagerStyle{
	background-color:#F9FBF6;
}*/


/*INICIA ESTILOS CALENDARIO AJAX*/
.calendario table
{
    padding: 0;
    margin: 0;
    width: auto;
}

.calendario td
{
	padding:0;
}

.calendario .ajax__calendar_container
{
    background-position: #fff;
    background: #FDFDFD;
    border-collapse: collapse;
    font-family: Helvetica, Arial, Sans-Serif;
}
	
.calendario .ajax__calendar_today, .calendario .ajax__calendar_header
{
    background: url(../../images/bg_header_dt.jpg) repeat-x bottom;
    border: 1px solid #B6A056;
    color: #333;
    font-size: 11px;
    font-weight: bold;
    padding: 3px 0 0 0;
    width: 165px;
}

.calendario .ajax__calendar_body
{
    border: 1px solid #B6A056;
    margin: 5px 0;
    width: 165px;
}

.calendario .ajax__calendar_day, .calendario .ajax__calendar_dayname
{
    font-size: 10px;
    text-align: center;
}

.calendario .ajax__calendar_dayname
{
    margin: 10px 0 0 0;
}

.calendario .ajax__calendar_hover, .calendario .ajax__calendar_active
{
    background: #FEE990;
}

.calendario .ajax__calendar_other
{
    background-color: #F9EBBC;
    padding: 0;
}
/*TERMINA ESTILOS CALENDARIO AJAX*/