﻿/*************************************************************************/
/********************************* VALIDADORES ***************************/
/*************************************************************************/
.validador{
	color: #CC0000;
	background-image: url(../images/iconos/ico_error.gif);
	background-repeat: no-repeat;
	background-position: 0px 0%;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clear: both;
	padding-left: 16px;
	display: block;
	float: left;
	width: 92%;
}
.validadorExterno {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CC0000;
	text-align: left;
	text-indent: 16px;
}
.required {
	background-image: url(../images/iconos/required.gif);
	background-repeat: no-repeat;
	background-position: 0px 0%;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clear: both;
	padding-left: 16px;
	display: block;
	float: left;
	width: 92%;
}
.requiredColor{
	color: #CC0000 !important;
}
.error {
	color: #CC0000;
	background-image: url(../images/iconos/ico_error.gif);
	background-repeat: no-repeat;
	background-position: 0px 0%;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.summary
{
	color: #585E2E;
	background-image: url(../images/iconos/summary.gif);
	background-repeat: no-repeat;
	background-position: 0px 0%;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clear: both;
	text-indent: 18px;

}
.info
{
	color: #000099;
	background-image: url(../images/iconos/info.gif);
	height:20px;
	background-repeat: no-repeat;
	background-position: 3px 2px;
	padding-top: 3px;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	clear: both;
	text-indent: 16px;
	font-weight: normal;
	float:left;
	z-index:800;

}
.info .Label{
	color: #557188;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;/**/	
}
.info table{
	margin-left: 16px;
}
.space {
	float: left;
	height: 16px;
	width: 5px;
}
/*************************************************************************/
/******************   ubicacion del select General   ******************/
.selecGeneral{
	background-image: url(../Images/proyecto/seleccionGeneral.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float: right;
	height: 27px;
	width: 230px;
	padding-left:55px;
	padding-top:10px;
	border-bottom: 1px solid #CCCCCC;
	z-index:900;
}




/*************************************************************************/
/************************* MANEJO DE COLUMNAS EN DIVS ********************/
/*************************************************************************/
.row_1
{
	height:15px;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	}
.column_1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	float: left;
	width:24%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	margin-right: 1px;
	margin-left: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	min-width:150px;
	min-height:35px;
}
.column_calendar{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	float: left;
	width:24%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	margin-right: 1px;
	margin-left: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	min-width:150px;
	min-height:35px;
}
.column_1 .Label,
.column_2 .Label,
.column_3 .Label,
.column_4 .Label{
    white-space: normal;
}
.column_1 img{
	float: left;
}
.column_calendar input,
.column_1 input,
.column_2 input,
.column_3 input,
.column_4 input,
.column_1 textarea,
.column_1 select{
	float: left;
}

.column_2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	float: left;
	width:49%;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 2px;
	padding-left: 3px;
	margin-right: 1px;
	margin-left: 1px;
	margin-top: 0px;
	margin-bottom: 0px;
	
	min-height:35px;
}
.column_3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	float: left;
	width:74%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	
	min-height:35px;
}
.column_4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	float: left;
	width:99%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
	
	min-height:35px;
}
.centrada {
    text-align:center;
    }
.column_List{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	float: left;
	width:99%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
}
.column_ListHTML{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	float: left;
	width:99%;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 3px;
}

.collapse{
	background-image: url(../Images/iconos/ico_collapse.gif);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 15px;
	color: #3D3830;
}
.collapse:hover{
	color: #000000;
}

.expand{
	background-image: url(../Images/iconos/ico_expand.gif);
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding-left: 15px;
	color: #3D3830;
}

.expand:hover{
	color: #000000;
}

.expandDetail{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333333;
}
.collapsibleRow_th{
	background-color: #FEF8DD;
}
.selected td{
	background-color: #FEF8DD;
	background-image: url(../Images/bg_expand_details.jpg);
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #AFA79A;
}

.collapsibleRow:first-child{
	background-repeat: repeat-x;
}
.column_ListHTML td,
.collapsibleRow{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
/*.column_ListHTML table b{
	white-space: nowrap;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #403B33;
}

.column_ListHTML table td{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #403C33;
}
.column_ListHTML table table,
.column_ListHTML table table td{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.column_ListHTML table{
	width:100%;
}
.column_ListHTML table table{
	width:100%;
	border: 1px solid #AFA79A;
}
.column_ListHTML table table table td{
	padding-left: 10px;
}

.column_ListHTML table table table tr:first-child td{
		border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	background-image: url(../images/bg_header_dt.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
	height:20px;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #403C33;
	text-align: left;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
	font-weight: bold;
}*/
/*************************************************************************/
/************************* MANEJO DE SECCIONES DE DATOS ********************/
/*************************************************************************/
fieldset {
    background-position: 4px;
    border: 1px solid #833177;
    margin: 3px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    background-image: url('../Images/bglayer.jpg');
    background-repeat: repeat-x;
    background-position: center 13px;
}
legend {
    border: 1px solid #833177;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 4px;
    background-color: #FFF7D6;
}
legend .Label{
	color: #413D34;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
/*************************************************************************/
/**************************** MANEJO DE TITULOS **************************/
/*************************************************************************/
h1 {
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #6C6457;
	background-color: #FEF2C0;
	text-transform: uppercase;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 16px;
	margin-top: 4px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear:both !important;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin: 0px;
	list-style-type: circle;
	background-image: url(../images/iconos/bullet_h3.jpg);
	background-repeat: no-repeat;
	background-position: 10px 50%;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C7C3BA;
	color: #9A9484;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
}/************************************************************************/
/**************************** BOTONES ********************************/
/************************************************************************/
..buttonbar, .buttonBarInterno
{
    background-position: top;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 3px;
    background-image: url('../Images/bg_bbinterno.gif');
    background-repeat: repeat-x;
}
.buttonBar_r{
	text-align: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 1px;
}
/*.buttonBarInterno .button {
	background-image: url(../images/proyecto/bg_buttons.gif);
	background-repeat: repeat-x;
	height: 22px;
	background-position: 0px 0px;
}*/

/************************************************************************/
/**************************** ESPECIALES ********************************/
/************************************************************************/

.radioGroup table{
	margin: 0px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.radioGroup table td{
	margin: 0px;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}


.column_1 .textInput,
.column_1 .comboBox{
	float: left;
	width: 92%;
}
.doble .textInput,
.doble .comboBox
{
	width:42% !important;
}
.column_calendar .textInput,
.column_calendar .comboBox{
	float: left;
	width: 100px;
}
.column_2 .textInput,
.column_2 .comboBox{
	float: left;
	width: 96%;
}
.column_3 .textInput,
.column_3 .comboBox{
	float: left;
	width: 95%;
}
.column_4 .textInput,
.column_4 .comboBox{
	float: left;
	width: 97%;
}

textarea{
	float: left;
	width: 92%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
}
.calendar .textInput{
	width: 75%;
	margin-right: 2px;
	margin-left: 2px;
}
.break {
	clear: both;
}
.disabled {
	border: 1px solid #999999;
	background-color: #F5F5F5;
}
/************************/
.Paginador a{
	background-image: url(../Images/iconos/pagina.gif);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
/**************************/
.bar {
    float: left;
    width: 43%;
    border: 1px solid #833177;
    margin: 0px;
    padding: 0px;
}
.medidor {
	background-color: #F1F3AA;
	height: 15px;
	width: 10px;
	background-image: url(../Images/iconos/bar_avance.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

/*****/
.DynamicMenuItemStyle a
{
	background-image: none;
	cursor:hand;
	width:100%;
	height:10px;
	float:left;
}

.contentForms A:link {
    color: #833177;
}
.contentForms A:visited {
    color: #833177;
}
.contentForms A:active {
    color: #833177;
}
.contentForms A:hover {
    color: #833177;
}
.despacho
{
    background-color: #FFFFC4;
}
.recibo
{
    background-color: #FFECC4;
}

/* Colores Tablas Mamtenimiento Primario */
.tabledata
{
	width:100%;
	border: 1px solid #C3BCB2;
	font-size:8px;

}
.tabledata td{
	padding: 0 2px;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
	
	
}

.tabledatatitulo
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #999999;
    background-image: url(../images/bg_header_dt.jpg);
    background-repeat: repeat-x;
    background-position: 0px bottom;
    height: 20px;
    font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
    font-size: 8px;
    color: #403C33;
    text-align: left;
    padding-top: 4px;
    padding-right: 2px;
    padding-bottom: 4px;
    padding-left: 2px;
    font-weight: bold;
    background-color: #FDE88D;
    font-size:8px;
}


.tabledata td
{
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	padding-left: 4px;
	
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8px;
	
	font-weight:bold;
}


.tableverde { background-color:#99CC00;
    }
.tablerojo { background-color:#FF0000;
    }
.tablenaranja{  background-color: #FF6600;
}
.tablerosado{  background-color: #FFCC99;
}
.tableamarillo { background-color:#FEFF01;
    }
.tableblanco { background-color:#FFFF99;
    }
.tablerojooscuro { background-color:#CC0000;
    }
.tablenaranjaclaro
{
    background-color: #FED83F;
}
.tablemorado
{
    background-color: #8963D8;
}
.tabledata td.tableselected
{
    border: 3px solid #FFFFFF;
    color: #ffffff;
}
.tabledata td.tableselected a
{
    color:#ffffff;
}

.tabledata a,
.tabledata a:link,
.tabledata a:visited {
	color:#403C33;
	border:none;
	text-decoration: underline;
	font-size:8px;
	}
.tabledata a:hover {
	border:none;
	text-decoration: underline;
		color:#ffffff;
	}	
	
.tabledata td:hover a {
	color: #ffffff;
	}	
 .tablealerta
{
    background-image: url('Images/alerta.gif');
    background-repeat: repeat;
}   