/* This CSS sets the default styles for tabs. */

.tabs {
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 2px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: auto;
	padding: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C0A505;
}
.footTab{
	clear: both;
}
.container_tab{
	border: 1px solid #D8B805;
}
.tabs a {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #403B33;
	text-align: left;
	text-decoration: none;
	background-image: url(../Images/TabControllers/tabs_folder_bg.gif);
	background-position: right 0px;
	background-repeat: no-repeat;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #666666;
	margin: 0px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
}
.tabs ul{
	margin: 0px;
	padding: 0px;
}
.tabs li {
	float: left;
	text-decoration: none;
	width:auto;
	background-image: url(../Images/TabControllers/tabs_bg.jpg);
	color: #003366;
	background-repeat:  repeat;
	padding: 0px;
	margin: 0px;
	white-space:nowrap;
}
.tabs li.active {
	display: block;
	float: left;
	text-decoration: none;
	background-image: url(../Images/TabControllers/tabs_active_bg.jpg);
	background-position: 0 0px;
	color: #003366;
	background-repeat:  repeat-x;
	padding: 0px;
}
.tabs li.active a{
	font-weight: normal;
	color: #000000;
}
.tabs li:hover{
	background-image: url(../Images/TabControllers/tabs_active_bg.jpg);
	background-repeat:  repeat-x;
	background-position: 0px 0px;
}
